.page2.wrapper
    .container
        .column.column__1x

            .title Безопасность
            .numbertitle .01
            .subtitle Огнестойкая ткань
            .text Высокая прочность и огнестойкость входили в список главных требований к материалам, из которых были изготовлены скафандры участников космической программы «Аполлон». Аналогичные материалы используют при производстве ткани для костюмов пожарных.

        .column.column__2x


        .column.column__1x
            .title
            .numbertitle .02
            .subtitle Обезвреживание подземных мин
            .text РКосмические технологии применяются при разминировании: твердое ракетное топливо используют для запала, который прожигает корпус мины и выжигает содержащуюся в ней взрывчатку без детонации (взрыва), не нанося при этом урона окружающей среде.

        .hand-to-left__block
    .bg-crosses(
    data-swiper-parallax="-350"
    )
    .bg-lines