.main.wrapper
    .container
        .column.column__1x

            .title Космические <br>технологии на Земле


            .link.link__arrow-right(
            data-swiper-parallax="-300"
            v-on:click="goToSlide(1, 100)"
            )
                .text_white .01
                .subtitle Транспорт

        .column.column__1x

            .text Многие вещи и материалы, изначально предназначавшиеся для космоса, прочно вошли в нашу земную жизнь.

            .link.link__arrow-right(
                data-swiper-parallax="-300"
                v-on:click="goToSlide(1, 100)"
            )
                .text_white .02
                .subtitle Природные ресурсы

        .column.column__1x
            .link.link__arrow-right(
                data-swiper-parallax="-100"
                v-on:click="goToSlide(2, 200)"
            )
                .text_white .03
                .subtitle Медицина и здоровье
        .column.column__1x

            .link.link__arrow-right(
            data-swiper-parallax="-300"
            v-on:click="goToSlide(1, 100)"
            )
                .text_white .04
                .subtitle Безопасность

        .hand-to-right__block
    .bg-crosses
    .bg-lines