.page3.wrapper
    .container
        .column.column__1x

            .title Природные ресурсы
            .numbertitle .01
            .subtitle Солнечные ресурсы
            .text Создание солнечных батарей решило проблему энергообеспечения космических аппаратов, а также зданий и портативной техники на Земле

            .numbertitle .02
            .subtitle Экология
            .text Технология микрокапсулирования, разработанная для NASA, позволяет очищать поверхность водоемов от нефти и других загрязняющих окружающую среду веществ. Основой технологии являются крошечные полые шарики пчелиного воска, которые поглощают вредные химические соединения

        .column.column__2x


        .column.column__1x
            .numbertitle .03
            .subtitle Очистка воды
            .text Для космонавтов, живущих на Международной космической станции, разрабатывается система очистки воды, которая объединяет преимущества химической адсорбции, ионного обмена и ультрафильтрации. Эта же технология может использоваться на Земле для обеспечения питьевой водой жителей проблемных регионов.

        .hand-to-left__block
    .bg-crosses(
    data-swiper-parallax="-350"
    )
    .bg-lines