.page3.wrapper
    .container
        .column.column__1x
            .row__1x
                .title Природные ресурсы

            .row__1x
                .numbertitle .01
                .subtitle Солнечная энергия
                .text Создание солнечных батарей решило проблему энергообеспечения космических аппаратов, а также зданий и портативной техники на Земле

            .row__1x
                .numbertitle2 .02
                .subtitle Экология
                .text Технология микрокапсулирования, разработанная для NASA, позволяет очищать поверхность водоемов от нефти и других загрязняющих окружающую среду веществ. Основой технологии являются крошечные полые шарики пчелиного воска, которые поглощают вредные химические соединения

        .column.column__2x
            .row.row__4x

        .column.column__1x
            .row.row__2x

            .row__1x
                .numbertitle3 .03
                .subtitle Очистка воды
                .text Для космонавтов, живущих на Международной космической станции, разрабатывается система очистки воды, которая объединяет преимущества химической адсорбции, ионного обмена и ультрафильтрации. Эта же технология может использоваться на Земле для обеспечения питьевой водой жителей проблемных регионов.

        .hand-to-left__block
    .bg-crosses(
    data-swiper-parallax="-350"
    )

    .bg-lines